<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bubble</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/form.css">
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    
    
    <div class="container">
    <div class="row">
        
		<form role="form" class="col-md-9 go-right" action="/new" method="post" enctype="multipart/form-data">
		    
			<h2>投稿エリア</h2>
            <p>Let's share your journey memories.</p>
            
			<div class="form-group">
    			<input type="text" name="title" class="form-control" required>
    			<label for="name">Title</label>
		    </div>
		    
		    <div class="form-group">
    		    <select name="category" id="category">
                    <% @categories.each do |category| %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% end %>
                </select>
            </div>
            
            <div class="form-group">
                <input type="file" name="file" class="form-control" required>
		    </div>
		    
    		<div class="row">
          		<div class="col-md-12">
              		<div class="form-group">
                        <textarea name="body" class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Article"></textarea>
              		</div>
          	    </div>
            </div>
		
    		<div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">投稿する</button>
              </div>
            </div>
    
		</form>
		
	</div>
    </div>
    
    
    <ul>
        <% @categories.each do |category| %>
            <li><a href="/category/<%= category.id %>"><%= category.name %></a></li>
        <% end %>
    </ul>
    
    <% if @category_name.present? %>
        <h2><%= @category_name %></h2>
    <% end %>
    
    <main>
        <% @contents.each do |content| %>
        <article>
            <section>
                <h3><%= content.title %></h3>
                <p><%= content.body %></p>
                <p><%= content.category.try(:name) %></p>
                <% unless content.img.empty? %><img src="<%= content.img %>" alt=""><% end %>
            </section>
            <div class="edit">
                <form action="/edit/<%= content.id %>" method="post"><input type="submit" value="編集"></form>
                <form action="/delete/<%= content.id %>" method="post"><input type="submit" value="削除"></form>
            </div>
                <%= content.iine %>
            <span>
                <form action="/good/<%= content.id %>" method="post">
                    <input type="submit" value="いいね">
                </form>
            </span>
        </article>
        <% end %>
    </main>
</body>
</html>
