<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bubble</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/form.css">
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    
    
    <div class="container">
    <div class="row">
        
		<form role="form" class="col-md-9 go-right" action="/new" method="post" enctype="multipart/form-data">
		    
			<h2>投稿エリア</h2>
            <p>Let's share your journey memories.</p>
            
			<div class="form-group">
    			<input type="text" name="title" class="form-control" required>
    			<label for="name">Title</label>
		    </div>
		    
		    <div class="form-group">
    		    <select name="category" id="category">
                    <% @categories.each do |category| %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% end %>
                </select>
            </div>
            
            <div class="form-group">
                <input type="file" name="file" class="form-control" required>
		    </div>
		    
    		<div class="row">
          		<div class="col-md-12">
              		<div class="form-group">
                        <textarea name="body" class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Article"></textarea>
              		</div>
          	    </div>
            </div>
		
    		<div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">投稿する</button>
              </div>
            </div>
    
		</form>
		
	</div>
    </div>
    
    
    <ul>
        <% @categories.each do |category| %>
            <li><a href="/category/<%= category.id %>"><%= category.name %></a></li>
        <% end %>
    </ul>
    
    <% if @category_name.present? %>
        <h2><%= @category_name %></h2>
    <% end %>
    

<% @contents.each do |content| %>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title"><%= content.title %></h4>
                            </div>
                        </span>
                        
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <%= content.category.try(:name) %>
                            </div>
                        </div>
                        
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <%= content.body %>
                            </div>
                        </div>
                        
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <i class="fa fa-thumbs-o-up"></i><%= content.iine %>
                            </div>
                        </div>
                        
                        
                        
                    </div> 
                </div>
            </div>
            
            <% unless content.img.empty? %>
            <div class="col-md-8">
                <div class="md-macbook-pro md-glare">
                    <div class="md-lid">
                        <div class="md-camera"></div>
                        <div class="md-screen">
                            <div class="tab-featured-image">
                                <div class="tab-content">
                                    <div class="tab-pane  in active" id="tab1">
                                            <img src="<%= content.img %>" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-base"></div>
                </div>
            </div>
            <% end %>
            
                <div class="edit">
                    <form action="/edit/<%= content.id %>" method="post"><button type="submit" class="btn btn-success btn-lg">編集する</button></form>
                    <form action="/delete/<%= content.id %>" method="post"><button type="submit" class="btn btn-danger btn-lg">削除する</button></form>
                </div>
                
                <form action="/good/<%= content.id %>" method="post">
                        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-thumbs-o-up"></i></button>
                </form>
        </div>
    </div>
<% end %>
    
    
    
</body>
</html>
